/* ===== PAGE CENTER WRAPPER ===== */
.container {
  display: flex;
  justify-content: center;   /* center everything */
  align-items: center;
  gap: 80px;                 /* controls distance between left & right */

  min-height: 100vh;
  padding: 60px;

  flex-wrap: wrap;

  background: linear-gradient(135deg, #1e293b, #312e81, #4c1d95);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}